<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>market</title>
</head>
<body>
  <div class="app" id="app">
    <div class="marketMain" v-if="visible">
      <div class="marketMainText">
        <span class="marketMainTextEsc">ESC 키를 눌러 닫을 수 있습니다.</span>
      </div>
      <div class="marketMainSection">
        <div class="marketMainSectionLeft">
          <div class="marketMainSectionLeftPhoto">
            <img src="./assets/logo.png" alt="logo">
          </div>
          <div class="marketMainSectionLeftSellInfo">
            <div class="marketMainSectionLeftSellInfoDetail">
              <span class="marketMainSectionLeftSellInfoTitle">판매 등록한 아이템</span>
              <span class="marketMainSectionLeftSellInfoSubTitle">판매가 완료되었거나 만료되어 다시 지급된 상품은 보이지 않습니다.</span>
            </div>
            <div class="marketMainSectionLeftSellList">
              <sell 
                v-for='test in sellTest'
                :key='test.id'
                :name='test.name'
                :price='test.price'
                :left='test.left'
                :time='test.time'
                ></sell>
            </div>
            <div class="marketMainSectionLeftSellButton" @click="SET_MOD">
              <i class="fa-solid fa-plus"></i>
              <div class="marketMainSectionLeftSellItemText">
                <span class="marketMainSectionLeftSellItemTextSubTitle" v-if="!sellMod">아이템을 판매하시러 오셨나요?</span>
                <span class="marketMainSectionLeftSellItemTextTitle" v-if="!sellMod">아이템 등록하기</span>
                <span class="marketMainSectionLeftSellItemTextSubTitle" v-if="sellMod">현재 팔리고 있는 아이템을 확인하고 싶으신가요?</span>
                <span class="marketMainSectionLeftSellItemTextTitle" v-if="sellMod">장터로 돌아가기</span>
              </div>
            </div>
            <div class="marketMainSectionLeftCurrentMoney">
              <i class="fa-solid fa-credit-card"></i>
              <div class="marketMainSectionLeftCurrentMoneyText">
                <span class="marketMainSectionLeftCurrentMoneyTextSubTitle">{{userName}}님의 잔고</span>
                <span class="marketMainSectionLeftCurrentMoneyTextTitle">{{usermoney.toLocaleString()}} KRW</span>
              </div>
            </div>
          </div>
        </div> 
        <div class="marketMainSectionRight">
          <div class="marketMainSectionRightMainTitle">
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="marketMainSectionRightMainTitleDetail">
              <span class="marketMainSectionRightMainTitleDetailTitle">지니 중고장터</span>
              <span class="marketMainSectionRightMainTitleDetailSubTitle">다른 유저들과 자유롭게 거래할 수 있습니다.</span>
            </div>
          </div>
          <div class="marketMainSectionRightItemSearch">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="검색할 아이템을 입력하세요..." v-if="!sellMod">
            <input type="text" placeholder="판매할 아이템을 입력하세요..." v-if="sellMod">
          </div>
          <div class="marketMainSectionRightItemRegistered">
            <span class="marketMainSectionRightItemRegisteredTitle">등록된 아이템 - {{registeredItem}}</span>
          </div>
          <div class="marketMainSectionRightItemSellOnlinePart">
            <div class="marketMainSectionRightItemSellOnline">
              <usersell
                v-for='currentsale in currentSale'
                :key='currentsale.id'
                :name='currentsale.name'
                :lowestprice='currentsale.lowestprice'
                :left='currentsale.left'
              ></usersell>
            </div>
            <div class="marketMainSectionRightItemSellOnlinePurchase">
              <div class="marketMainSectionRightItemSellOnlinePurchaseCurrentProductTitle">
                <div class="marketMainSectionRightItemSellOnlinePurchaseCurrentProductTitleDetail">
                  <span class="marketMainSectionRightItemSellOnlinePurchaseCurrentProductTitleItemName">🙌 닉네임 변경권</span>
                  <span class="marketMainSectionRightItemSellOnlinePurchaseCurrentProductTitleItemLeft">판매 매물 6개 남음</span>
                </div>
                <span class="marketMainSectionRightItemSellOnlinePurchaseCurrentProductLowestPrice">최저가 100,000,000</span>
              </div>
              <div class="marketMainSectionRightItemSellOnlinePurchaseItemStatus">
                <div class="marketMainSectionRightItemSellOnlinePurchaseItemStatusOverflow">
                  <compare
                    v-for='compare in productcompare '
                    :key='compare.id'
                    :playername='compare.playername'
                    :playerid='compare.playerid'
                    :price='compare.price'
                    :productleft='compare.productleft'
                    :lowpricecurrent='compare.lowpricecurrent' 
                  ></compare>
                </div>
              </div>
              <div class="marketMainSectionRightItemSellOnlinePurchaseItemStatusLowestHighest">
                <span class="marketMainSectionRightItemSellOnlinePurchaseItemStatusLowestText">하한가 100,000,000원</span>
                <span class="marketMainSectionRightItemSellOnlinePurchaseItemStatusHighestText">상한가 300,000,000원</span>
              </div>
              <div class="marketMainSectionRightItemSellOnlinePurchaseItemSell">
                <div class="marketMainSectionRightItemSellOnlinePurchaseItemSellDetail">
                  <span class="marketMainSectionRightItemSellOnlinePurchaseItemSellTitle">아이템 판매 등록</span>
                  <span class="marketMainSectionRightItemSellOnlinePurchaseItemSellSubTitle">판매 등록된 아이템은 7일동안 판매되며, 구매자가 없을 경우 인벤토리로 반환됩니다.</span>
                </div>
                <div class="marketMainSectionRightItemSellOnlinePurchaseItemSellInfo">
                  <span class="marketMainSectionRightItemSellOnlinePurchaseItemSellInfoDetail">🙌 닉네임 변경권 <input type="text"></input><span class="margintop">개를</span><input type="text" class="inputMoney"></input><span class="margintop">KRW에 판매</span></span>
                  <div class="marketMainSectionRightItemSellOnlinePurchaseItemSellInfoButton">
                    <span class="marketMainSectionRightItemSellOnlinePurchaseItemSellInfoButtonText">판매 등록</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <script src="./js/config/test.js"></script>
  <script src="./js/config/currentSale.js"></script>
  <script src="./js/config/productCompare.js"></script>
  <script src="./js/components/productCompareComponent.js"></script>
  <script src="./js/components/productOnSaleComponent.js"></script>
  <script src="./js/components/currentSellComponent.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>